@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'myFont';
  src: url('/fonts/NixieOne.ttf')

} 

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  font-family: "myFont";
}



.header {
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
}



.profile-icon-container {
  display: flex;
  align-items: center;
}

.profile-icon {
  height: 8vh; 
  margin-left: 1387px; 
  display: flex;
  margin-top: -35px;

}
.nav-bar {
  right: 30px
}
.nav-bar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  top: 20px
}

.nav-bar ul li {
  margin-right: 30px; 
}



.book img, .author  img, .read-img, .tbread-img, .author-book-img, .genre-book-img{
  height: 40vh;
}

.book-info img, .author-info img {
  height: 60vh;
} 

input[type=radio]{
  display: none;
}

.star{
  cursor: pointer;
}

.genre-container {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 9999px; /* Large value to create a pill shape */
  background-color: #9a3412;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.genre-container:hover {
  background-color: #c2410c;
  color: #cbd5e0;
  border-color: #000000;
}



.ce-my-message-body{
  background-color: #c2410c !important;
}

.ce-default-button{
  color:  #c2410c !important;
  border: 1px solid #c2410c ;
}

.ce-chat-header-title{
  color:  #c2410c !important;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.next {
  left: 600px; /* Adjust as needed */
}

.prev {
  right: 600px; /* Adjust as needed */
}
