@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'myFont';
  src: url('/fonts/JMH Typewriter-Thin.ttf')

} 

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  font-family: "myFont";
}



.header {
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
}



.profile-icon-container {
  display: flex;
  align-items: center;
}

.profile-icon {
  height: 8vh; 
  margin-left: 1387px; 
  display: flex;
  margin-top: -35px;

}
.nav-bar {
  right: 30px
}
.nav-bar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  top: 20px
}

.nav-bar ul li {
  margin-right: 30px; 
}



.book img, .author  img, .read-img, .tbread-img, .author-book-img, .genre-book-img{
  height: 40vh;
}

.book-info img, .author-info img {
  height: 60vh;
} 

input[type=radio]{
  display: none;
}

.star{
  cursor: pointer;
}